@-webkit-keyframes expand {
  0% {
    width: 0;
  }

  100% {
    width: 195px;
  }
}

@keyframes expand {
  0% {
    width: 0;
  }

  100% {
    width: 195px;
  }
}

body {
  background: #F7BA00;
  color: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.demo {
  margin: 4rem auto;
  max-width: 1024px;
  width: 90%;
}

.card {
  background: #fefefe;
  border-radius: .5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #0a0a0a;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.card_content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 1rem;
}

.card_content h1 {
  margin: 0 0 1rem;
  min-height: 2.25em;
}

.card_content p {
  margin: 0 0 2rem;
}

.card_content table {
  color: #0a0a0a;
  border-collapse: separate;
  border-spacing: 15px;
  font-weight: bold;
}

.card_image {
  display: block;
  width: 100%;
}

.card_button {
  background: #002f53;
  display: inline-block;
  color: #fefefe;
  margin-left: auto;
  /* Similar to align-self, but better support*/
  margin-top: auto;
  /* Pushes the button away from element above */
  padding: .7rem 1rem;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
  position: relative;
}

.column {
  padding-left: .5rem;
  padding-right: .5rem;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .column {
    width: 50%;
  }
}

.cards .card {
  height: 100%;
}

input {
  margin-bottom: 1rem;
  border: none;
  width: 100%;
  padding: 12px 20px;
  border-bottom: 1px solid #002f53;
  caret-color: #002f53;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: 002f53;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #002f53;
  -webkit-animation: 0.2s linear 1 expand;
  animation: 0.2s linear 1 expand;
}

#table {
  width: 100%;
}

#table td {
  text-align: center;
  vertical-align: middle;
}

.header{
  width: 100%;
}